{{ define "main" }}
<main>
    <nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-center">
        <a class="navbar-brand font-weight-light" href="/">
            <!--<img src="https://avatars2.githubusercontent.com/u/47492807?s=200&v=4" width="30" height="30" class="d-inline-block align-top" alt="">-->
            <b>Follow GitHub Organisation</b>
        </a>
    </nav>

    <div class="container container-fluid">
        <div class="row my-5 justify-content-center">
            <div class="col-sm-6 text-center">
                <h3 class="text-truncate">
                    {{ .Params.org_name }}
                </h3>
            </div>
        </div>
        <div class="row my-2 justify-content-center">
            <button class="btn btn-dark btn-sm col-m-1 mx-2 my-1" type="submit">
                Follow
            </button>
            <a href="{{ .RSSLink }}" target="_blank" class="btn btn-dark btn-sm col-m-1 mx-2 my-1" role="button">Feed</a>
        </div>
    </div>


    <div class="container container-fluid">
        <hr class="my-4">
        <div class="row my-2 justify-content-center">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active font-weight-light" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Repositories</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"></div>
            </div>
        </div>

        <div class="row my-2 justify-content-center">
            {{ range .Paginator.Pages }}
            <div class="col-sm-5 my-2">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title text-truncate">
                            <img src="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.5.0/svg/repo.svg" class="img-fluid" alt="Responsive image">
                            <a target="_blank" href="{{ .Params.repo_link }}">{{ .Title }}</a>
                        </h6>
                        <p class="card-text text-truncate font-weight-light">
                            {{ if (isset .Params "repo_desc") }}
                                {{ .Params.repo_desc }}
                            {{ else }}
                                NA
                            {{ end }}
                        </p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>

    </div>
</main>
{{ end }}
